# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Builds
out/
build/


/node_modules
/out
/res/rgb
/res/sound
/res/*.h
/res/movie_frames.res
/inc/generated
/failed
/tmpmv*
